body {
    margin: 30;
    padding: 0;
    background-color: black;
}

.image-container {
    width: 450px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
	margin-right: 20px;
    display: inline-block;
}

#closet {
    background-image: url("../images/closet.png");
}

#basket {
    background-image: url("../images/basket.png");
}

#image_upload {
    background-image: url("../images/camera.png");
    }
    
.button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #37032a;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #48044d;
}