<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>
<body>
    <h1>Basket</h1>
    <ul>
        {% for image in pagination.items %}
            <li>
                <img src="{{ url_for('static', filename=image.filename) }}" alt="Clothes image">
            </li>
        {% endfor %}
    </ul>

<div class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ url_for('show_basket', page=pagination.prev_num) }}">Previous</a>
    {% endif %}
    {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
            {% if page_num != pagination.page %}
                <a href="{{ url_for('show_basket', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <strong>{{ page_num }}</strong>
            {% endif %}
        {% else %}
            <span class="ellipsis">…</span>
        {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
        <a href="{{ url_for('show_basket', page=pagination.next_num) }}">Next</a>
    {% endif %}
</div>
</body>
</html>
