<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garment Guru</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filters.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}"/>

</head>
<body>
    <header>
        <div class="image-container" id="header_logo"></div>
    </header>

    <div class="image-container" id="image_upload"> 
        <a href="{{ url_for('upload_image') }}" class="button" id="upload-button">Upload Image</a>
    </div>

<!-- Display clothes in the closet -->
<div class="image-container" id="closet">
    <h2>My Closet</h2>
    {% for image in closets %}
        <img src="{{ url_for('static', filename=image.filename) }}" alt="Cloth image">
        <!-- Add form to mark as dirty and move to basket -->
        <form action="{{ url_for('toggle_status', image_id=image.id) }}" method="POST">
            <button type="submit" class="status-toggle">Mark as Dirty</button>
        </form>
    {% endfor %}
    <a href="{{ url_for('show_closet') }}" class="button" id="closet_button">View All</a>
</div>

<!-- Display clothes in the basket -->
<div class="image-container" id="basket">
    <h2>My Laundry Basket</h2>
    {% for image in baskets %}
        <img src="{{ url_for('static', filename=image.filename) }}" alt="Cloth image">
        <!-- Add form to mark as clean and move to closet -->
        <form action="{{ url_for('toggle_status', image_id=image.id) }}" method="POST">
            <button type="submit" class="status-toggle">Mark as Clean</button>
        </form>
    {% endfor %}
    <a href="{{ url_for('show_basket') }}" class="button" id="basket-button">View All</a>
</div>

    {% for image in images %}
    <form action="{{ url_for('toggle_status', image_id=image.id) }}" method="POST">
        <button type="submit" class="status-toggle">
            {% if image.status.is_clean %}
                Mark as Dirty
            {% else %}
                Mark as Clean
            {% endif %}
        </button>
    </form>
    
    <footer>
        <p>Garment Guru 2024, creator: Amwenya</p>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </footer>
</body>
</html>
